footer {
  background: linear-gradient(135deg, #4db6e2 0%, #ffd93b 50%, #ff6f61 100%);
  padding: 10px;
}

.nombre {
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: var(--subtitulo);
}

.icons {
  width: 100px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}

.icons i {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: 30px;
}

.author p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

footer img {
  display: flex;
  justify-content: center;
  width: 70px;
  margin: 5px auto;
}
