.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  background: linear-gradient(135deg, #4db6e2 0%, #ffd93b 50%, #ff6f61 100%);
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 70px;
}

.navbar-brand {
  font-family: var(--titulo);
  font-size: 50px;
}

.option {
  margin: 3px;
  display: flex;
  justify-content: flex-end;
  font-family: var(--subtitulo);
  font-size: 25px;
  color: black;
  border-radius: 200px;
}

.navbar .nav-link.option:hover {
  transform: scale(1.05);
  color: black !important; /* asegúrate que sobrescriba bootstrap */
  background-color: rgba(255, 255, 255, 0.2);
}
