.header {
  background: linear-gradient(135deg, #4db6e2 0%, #ffd93b 50%, #ff6f61 100%);
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 70px;
}

.navbar-brand {
  font-family: var(--Título);
  font-size: 50px;
}

.option {
  margin: 3px;
  display: flex;
  justify-content: flex-end;
  font-family: var(--Subtítulo);
  font-size: 20px;
}
