body {
  background-color: var(--color-5);
}

section {
  display: flex;
}

.niños-programación {
  width: 500px;
  height: auto;
  border-radius: 40px;
  margin: 15px auto;
  box-shadow: 9px 8px 21px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 9px 8px 21px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 9px 8px 21px 2px rgba(0, 0, 0, 0.27);
  display: flex;
  justify-content: flex-start;
}

.bienvenida {
  border: 3px solid var(--color-4);
  background-color: #f7a29b;
  border-radius: 20px;
  height: auto;
  padding: 30px;
  box-shadow: 9px 8px 21px 2px rgba(255, 111, 97, 0.32);
  -webkit-box-shadow: 9px 8px 21px 2px rgba(255, 111, 97, 0.32);
  -moz-box-shadow: 9px 8px 21px 2px rgba(255, 111, 97, 0.32);
}

.bienvenida h2 {
  font-family: var(--subtitulo);
  font-size: 30px;
}

.bienvenida p {
  font-family: var(--parrafos);
  font-size: 20px;
}

#carouselExample {
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-left: -10px;
  margin-top: 25px;
}

.carousel img {
  width: 100%;
  height: 600px; /* ajusta según lo que necesites */
  object-fit: cover; /* puede ser cover, contain o fill */
  border-radius: 10px; /* opcional, para bordes redondeados */
}
