* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/Fondo1.jpg);
}

main img {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

main p {
  font-family: var(--Párrafos);
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container h3 {
  font-family: var(--Subtítulo);
  font-size: 35px;
}

.container p {
  font-family: var(--Párrafos);
  font-size: 20px;
}
.container li {
  font-family: var(--Párrafos);
  font-size: 20px;
}

.final {
  background-color: #ffb0a8;
  border-radius: 9px;
  padding: 20px;
  text-align: center;
  width: 400px;
  margin-bottom: 20px;
}

.final li {
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
